/*------------------------------------------------------
# styles reset
---------------------------------------------------------*/
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: var(--font-s);
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
}
ul{
  list-style: none;
}
button{
  background: none;
  border: none;
}
/*-------------------------------------------------------
# Roots
---------------------------------------------------------*/
:root {
  /*-------------------------------------------------------
  # Spacing Size
  ---------------------------------------------------------*/
  --space-xxs: 0.5rem;
  --space-xs: 0.75rem;
  --space-s: 1rem;
  --space-m: 1.25rem;
  --space-l: 1.5rem;
  --space-xl: 2rem;
  --space-xxl: 2.5rem;
  /*-------------------------------------------------------
  # Font Size
  ---------------------------------------------------------*/
  --font-xxs: 0.75rem; 
  --font-xs: 1rem; 
  --font-s: 1.25rem; 
  --font-m: 1.5rem; 
  --font-l: 2rem; 
  --font-xl: 2.5rem;
  --font-xxl: 3rem; 
  /*-------------------------------------------------------
  # Colors
  ---------------------------------------------------------*/
  --transparent: #ffffff00;
  --primary: #ad1762;
  --white: #e7d5de;
}

